h1 {color: rgb(38, 138, 121);}
img {
    width: 400px;
    height: 250px
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: rgb(27, 216, 184);
    padding: 50px;
    border: rgb(62, 73, 173) 10px outset;
}
#spanId {
    font-size: 25px;
    margin: 50px;
}
body {
    background: url(maderatexturada.jpg);
}